
.about-content {
    display: flex;
    flex-direction: column;
    margin: 45px;
    align-items: center;
    &__categories {
      width: 80%;
      
    }
  }
  
  
  
  @media (max-width: 768px) {
    .about-content {
      padding: 0 10px;
      margin: 5px;
    }
  }